
/* Geral */


* {
    margin: 0px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #0000008c;
    box-sizing: border-box;
}
    
/* Topo */

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #00cad1;
    width: 100%;
    height: 80px;
}

.secao-um-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1024px;
    height: 80px;
    background-color: crimson;
}

.links-topo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
}

.links-topo a {
    align-items: center;
    justify-content: center;
    margin: 15px;
    padding: 10px;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

.logo-topo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
}

/* Primeira seção (navegação) */

.secao-um-navegacao {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 60px;
    background-color: darkgreen;
}

.links-secao-navegacao {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    width: 512px;
    height: 60px;
    background-color: darkgray;
}

.links-secao-navegacao a {
    margin: 5px;
    padding: 5px;
    text-decoration: none;
    font-weight: 600;
    border-bottom: 3px solid #00cad1;
    height: 28px;
}

/* titulo seção especialidades */

.titulo-secao-especialidades {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: #00cad1;
}

.titulo-secao-especialidades h1 {
    font-size: 24px;
    font-weight: 700;
    width: 512px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: coral;
}

/* main */

.conteudo-da-pagina {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: lightgray;
}

/* Seção Ortopedia */

.secao-ortopedia {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 1024px;
    background-color: darkolivegreen;
}

.descricao-secao-ortopedia {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 1024px;
    background-color: darkorange;
}

.descricao-secao-ortopedia h2 {
    font-size: 22px;
    font-weight: 700;
    width: 512px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: cornflowerblue;
}

.descricao-secao-ortopedia p {
    font-size: 16px;
    font-weight: 400;
    width: 512px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: darkgray;
}



