
/* Geral */


* {
    margin: 0px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #0000008c;
    box-sizing: border-box;
}
    
/* Topo */

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #00cad1;
    width: 100%;
    height: 60px;
    position: fixed;
}

.secao-um-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1024px;
    height: 60px;
}

.links-topo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
}

.links-topo a {
    align-items: center;
    justify-content: center;
    margin: 15px;
    padding: 10px;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

.logo-topo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
}

.logo {
    width: 150px;
}

/* Primeira seção (navegação) */

.secao-um-navegacao {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 60px;
}

.links-secao-navegacao {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    width: 512px;
    height: 60px;
}

.links-secao-navegacao a {
    margin: 5px;
    padding: 5px;
    text-decoration: none;
    font-weight: 600;
    border-bottom: 3px solid #00cad1;
    height: 28px;
}

/* titulo seção especialidades */

.titulo-secao-especialidades {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
}

.titulo-secao-especialidades h1 {
    font-size: 24px;
    font-weight: 700;
    width: 512px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* main */

.conteudo-da-pagina {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.conteudo-da-pagina img {
    width: 330px;
    height: 220px;
}

.secao-geriatria img {
    width: 330px;
    height: 280px;
}

.secao-fisioterapia img {
    width: 330px;
    height: 340px;
}

/* Seções */

.secao-ortopedia, .secao-pediatria, .secao-geriatria, .secao-psicologia, .secao-fisioterapia {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 1024px;
}

.ortopedia, .pediatria, .geriatria, .psicologia, .fisioterapia {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 1024px;
}

.ortopedia h2, .pediatria h2, .geriatria h2, .psicologia h2, .fisioterapia h2 {
    font-size: 22px;
    font-weight: 700;
    width: 512px;
    height: 40px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.ortopedia p, .pediatria p, .geriatria p, .psicologia p, .fisioterapia p {
    font-size: 16px;
    font-weight: 400;
    width: 512px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


/* Estilo tabela */

table {
    width: 694px;
    border-collapse: collapse;
    text-align: left;
}

thead th {
    background-color: #00cad1;
    color: #ffffff;
    font-weight: 700;
    height: 40px;
    padding-left: 20px;
}

tbody tr:nth-child(odd) {
    background-color: rgb(210, 210, 210);
    color: #0000008c;
    font-weight: 600;
    height: 60px;
}

tbody tr:nth-child(even) {
    background-color: rgb(250, 250, 250);
    color: #0000008c;
    font-weight: 600;
    height: 60px;
}

tbody td {
    padding-left: 20px;
}

/* Footer */

.rodape {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0C6E71;
    width: 100%;
    height: 250px;
    margin-top: 40px;
}

.conteudo-rodape {
    text-align: center;
    width: 1024px;
    height: 250px;
    color: #ffffff;
}

.paragrafo-rodape {
    padding: 5px 0px;
    width: 1024px;
    color: #ffffff;
}
